@develop-mode: true;


@width-sm: 		576px;
@width-md: 		768px;
@width-lg: 		990px;
@width-xl: 		1200px;

@width-1366: 	1367px;


@height-sm: 	600px;
@height-md: 	768px;
@height-lg: 	900px;


body {
	
    -webkit-font-smoothing: antialiased;
//    font-family: 'Muller', sans-serif;
//	font-family: "Stem", sans-serif;
	font-size: 14px;
	background: #f4f4f4;
	color: #ffefd3;
//	overflow: hidden;
}