@develop-mode: true;


@width-sm: 		576px;
@width-md: 		768px;
@width-lg: 		990px;
@width-xl: 		1240px;


@height-sm: 	600px;
@height-md: 	768px;
@height-lg: 	900px;


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900');

body {
	
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
	color: #262626;
    letter-spacing: 0.02em;
    
    background: #F5F7FA;
	
	
	
//	background: url(../img/rm/1400.png) top center no-repeat;
//	background: url(../img/rm/375.png) center 60px no-repeat;
//	background: url(../img/rm/375.png) center -104px no-repeat;
//	background-size: 1400px auto;
//	background-size: 375px auto;
	
	
	
    line-height: 23px;
    font-size: 13px;
	@media (min-width: @width-lg) {
		line-height: 27px;
		font-size: 15px;
	}
}




/*
 *********************************
 * Global
 *********************************
*/
.nowrap {
	white-space: nowrap;
}
.section-number {
	font-weight: 300;
	line-height: normal;
	font-size: 16px;
	margin-bottom: 16px;
    margin-left: -3px;
	&:before {
		content: '/ ';
		color: #2577F4;
		margin-right: 5px;
	}
	
	@media (min-width: @width-lg) {
		margin-bottom: 36px;
		font-size: 26px;
		margin-left: 0;
		&:before {
			margin-right: 8px;
		}
	}
}
.section-title {
	font-weight: 600;
	margin-top: 0;
	letter-spacing: 0;
	
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 6px;
	@media (min-width: @width-lg) {
		line-height: 51px;
		font-size: 31px;
		margin-bottom: 5px;
	}
}
.section-subtitle {
	margin-top: 0;
	margin-bottom: 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: #262626;
	
	border-radius: 30px;
	display: inline-block;
	text-align: center;
	border: 0;
	cursor: pointer;
	outline: none;
	transition: all 0.2s ease-in-out;
	
	height: 50px;
	padding: 14px 20px 13px;
	
	line-height: 23px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.02em;
	
	@media (min-width: @width-lg) {
		line-height: 27px;
		font-size: 15px;
		
		height: 60px;
		padding: 15px 20px 18px;
	}
	&_white {
		background: white;
		color: #262626;
		box-shadow: 0px 8px 30px rgba(255, 255, 255, 0.3);
		
		&:hover {
			opacity: 0.8;
		}
		&:active {
			box-shadow: none;
		}
	}
	&_blue {
		
		background: #2577F4;
		color: #FFFFFF;
		box-shadow: 0px 10px 30px rgba(37, 119, 244, 0.3);
		&:hover {
			background: #115FD6;
		}
		&:active {
			box-shadow: none;
		}
	}
	&_white-border {
		
		border: 1px solid rgba(255, 255, 255, 0.4);
		> svg {
			fill: #ffffff;
		}
		&:hover {
			background: white;
			border-color: white;
			> svg {
				fill: #2473EF;
			}
		}
	}
	&_black-border {
		
		border: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0px 10px 30px rgba(37, 119, 244, 0.3);
		background: transparent;
		color: #FFFFFF;
		&:hover {
			background: rgba(0, 0, 0, 0.2);
			border-color: transparent;
		}
	}
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
    vertical-align: middle;
	cursor: pointer;
	width: 18px;
	height: 18px;
	outline: none;

	background: #FFFFFF;
	border: 1px solid #D5DAE0;
	border-radius: 2px;
	
    margin-right: 6px;
	&:checked {
//		background-position: -247px -50px ;
		background: #2577F4;
		border-color: #2577F4;
		&:before {
			content: '';
			width: 13px;
			height: 9px;
			background-image: url(../img/check.svg);
			background-repeat: no-repeat;
			background-position: 0 0;
			
			position: absolute;
			
			top: 4px;
			left: 2px;
		}
		~ label {
			color: #2577F4;
		}
	}
}
.checkbox-label {
	vertical-align: middle;
	color: #8E8F90;
	cursor: pointer;
}

a.link {
	text-decoration: none;
	
	color: #2577F4;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		height: 1px;
		width: 100%;
		background: #2577F4;
		opacity: 0.5;
		left: 0;
		bottom: -2px;
	
	}
	&_large {
		&:after {
			height: 2px;
			opacity: 0.25;
			bottom: -3px;
		}
	}
}



.wrapper {
	padding-top: 80px;
	position: relative;
	overflow: hidden;
	
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		height: 100%;
		background: #eff1f7;
		left: 50%;
		transform: translateZ(0);
		z-index: -1;
		box-shadow: 299px 0 0 0 #eff1f7,
					599px 0 0 0 #eff1f7, 
					-300px 0 0 0 #eff1f7,
					-600px 0 0 0 #eff1f7; 
	}
}
.menu {
	position: fixed;
	height: 100%;
	width: 100%;
	background: white;
//	left: 0;
	right: -100%;
	top: 0;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 50px;
	transition: all 0.2s ease-in-out;
	&__btn-close {
		position: absolute;
		top:   20px;
		right: 20px;
//		z-index: 1;
		height: 30px;
		width: 30px;
		padding: 0;
		margin: 0;
		border: 0;
		background: none;
		outline: none;
		cursor: pointer;
		> span {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background: #262626;
			height: 2px;
			width: 26px;
			border-radius: 2px;
			&:first-child {
				transform: translate(2px, 14px) rotate(45deg);
			}
			&:last-child {
				transform: translate(2px, 14px) rotate(-45deg);
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		color: #262626;
		margin: 30px 0;
		font-size: 18px;
		opacity: 0;
//		transform: translateX(20px);
		transition: all 0.2s ease-in-out;
		&:nth-child(1) {
			transition-delay: .1s;
		}
		&:nth-child(2) {
			transition-delay: .2s;
		}
		&:nth-child(3) {
			transition-delay: .3s;
		}
		&:nth-child(4) {
			transition-delay: .4s;
		}
	}
	&.open {
		transform: translateX(-100%);
		.menu__link {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
.popup {
//	position: fixed;
//	top: 0;
//	left: 0;
	
	display: none;
	
	max-width: 600px;
	max-height: 520px;
	background: white;
	
	
}
/*
 *********************************
 * Header
 *********************************
*/
.header {
	
	background: #E9ECF2;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	
	&.fixed {
		position: fixed;
		z-index: 9999;
	}
	
	&__logo {
		width: 24px;
		height: 29px;
		@media (min-width: @width-lg) {
			width: 31px;
			height: 37px;
		}
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		height: 60px;
		@media (min-width: @width-lg) {
			height: 80px;
		}
	}
	&__nav {
		width: 690px;
		display: flex;
		justify-content: space-between;
		margin-right: 8px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: flex;
		}
	}
	&__link {
		color: #262626;
		text-decoration: none;
		position: relative;
		padding-left: 2px;
		padding-right: 2px;
		&:before {
			content: '';
			width: 100%;
			display: block;
			height: 9px;
			background: #262626;
			opacity: 0;
			position: absolute;
			left: 0;
			bottom: 1px;
			transition: all .2s ease-in-out;
		}
		&:hover {
			&:before {
				opacity: .2;
			}
		}
	}
	&__menu-btn {
		width: 26px;
		height: 16px;
		margin-left: auto;
		cursor: pointer;
		> svg {
			fill: #262626;
			width: 26px;
			height: 16px;
		}
		@media (min-width: @width-lg) {
			display: none;
		}
	}
}




/*
 *********************************
 * 
 *********************************
*/
.section-hero {
//	opacity: .5;
	
	
	
    background: #2577F4;
    height: 100vh;
    color: white;
	overflow: hidden;
	position: relative;
	> .container {
		position: relative;
		height: 100%;
		transform: translateZ(0);
	}
	&:before {
		content: '';
		position: absolute;
		width: 1px;
		height: 100%;
		background: #216ee8;
		left: 50%;
		transform: translateZ(0);
//		z-index: -1;
		box-shadow: 299px 0 0 0 #216ee8,
					599px 0 0 0 #216ee8, 
					-300px 0 0 0 #216ee8,
					-600px 0 0 0 #216ee8; 
	}
	&__circle-1 {
		position: absolute;
		transform: translateZ(0);
		background: linear-gradient(207deg, #428CFC 13.38%, rgba(66, 140, 252, 0) 87.78%);
		border-radius: 50%;
		margin: 0;
		z-index: -1;
		
		width: 274px;
		height: 274px;
		left: -113px;
		bottom: 61px;
		
		@media (min-width: @width-lg) {
			width: 546px;
			height: 546px;
			left: -219px;
			bottom: 11px;
		}
		
	}
	&__circle-2 {
		position: absolute;
		transform: translateZ(0);
		background: linear-gradient(207deg, #428CFC 13.38%, rgba(66, 140, 252, 0) 87.78%);
		border-radius: 50%;
		margin: 0;
		z-index: -1;
		
		width: 135px;
		height: 135px;
		right: -75px;
		top: 29px;
		@media (min-width: @width-lg) {
			width: 234px;
			height: 234px;
			right: -95px;
			top: 14px;
		}
	}
	&__logo {
		width: 24px;
		height: 29px;
		
		@media (min-width: @width-lg) {
			width: 31px;
			height: 37px;
		}
	}
	&__header {
		display: flex;
		transform: translateZ(0);
		align-items: center;
		
		
		padding-top: 36px;
		@media (min-width: @width-lg) {
			padding-top: 65px;
		}
	}
	&__nav {
		margin-left: auto;
		justify-content: space-between;
		width: 689px;
		margin-right: 50px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: flex;
		}
	}
	&__nav-link {
		color: white;
		text-decoration: none;
		position: relative;
		padding-left: 2px;
		padding-right: 2px;
		&:before {
			content: '';
			width: 100%;
			display: block;
			height: 9px;
			background: white;
			opacity: 0;
			position: absolute;
			left: 0;
			bottom: 1px;
			transition: all .2s ease-in-out;
		}
		&:hover {
			&:before {
				opacity: .5;
			}
		}
		
	}
	&__menu-btn {
		width: 26px;
		height: 16px;
		margin-left: auto;
		cursor: pointer;
		> svg {
			fill: #ffffff;
			width: 26px;
			height: 16px;
		}
		@media (min-width: @width-lg) {
			display: none;
		}
	}
	&__link {
		
		color: white;
		text-decoration: none;
		
		letter-spacing: 0;
		display: inline-block;
		position: relative;
		
		
		margin-top: 84px;
		line-height: 21px;
		font-size: 13px;
		&:after {
			content: '';
			position: absolute;
			height: 1px;
			width: 100%;
			background: white;
			opacity: 0.5;
			left: 0;
			bottom: 1px;

		}
		@media (min-width: @width-lg) {
			margin-top: 137px;
		
			line-height: 26px;
			font-size: 16px;
		}
		
	}
	
	&__title {
		max-width: 777px;
		
		
		font-weight: 600;
		line-height: 30px;
		font-size: 18px;
		letter-spacing: 0;
		
		transform: translateZ(0);
		
		margin-top: 38px;
		@media (min-width: @width-lg) {
			margin-top: 26px;
			line-height: normal;
			font-size: 36px;
			letter-spacing: -0.01em;
		}
	}
	&__list {
		position: absolute;
		width: 300px;
		right: 15px;
		list-style: none;
		padding-left: 21px;
		margin: 0;
		top: 238px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
	&__list-item {
		margin-bottom: 120px;
		position: relative;
		&:before {
			content: '';
			width: 3px;
			height: 3px;
			background: white;
			border-radius: 50%;
			position: absolute;
			left: -23px;
			top: 12px;
		}
	}
	&__btn {
		margin-top: 12px;
		
		width: 132px;
		@media (min-width: @width-lg) {
			width: 180px;
		}
	}
}
.hero-advantages {
	margin-top: 79px;
	@media (min-width: @width-lg) {
		margin-top: 81px;
	}
	&__value {
		font-weight: 300;
		letter-spacing: -0.02em;
		line-height: normal;
		
		font-size: 30px;
		@media (min-width: @width-lg) {
			font-size: 50px;
		}
//		margin-bottom: 3px;

	}
	&__text {
		margin-top: -4px;
		margin-bottom: 26px;
		@media (min-width: @width-lg) {
			margin: 0;
		}
	}
	&__btn-down {
		float: right;
		margin-top: 25px;
		width: 80px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: inline-block;
			
		}
	}
}


/*
 *********************************
 * 01
 *********************************
*/
.section-map {
	padding-top: 19px;
	@media (min-width: @width-lg) {
		padding-top: 79px;
	}
	> .container {
		position: relative;
	}
	&__container {
		border: 1px solid #EDF0F5;
		background: #F5F7FA;
		
		margin-top: 35px;
		padding-top: 5px;
		padding-bottom: 8px;
		@media (min-width: @width-lg) {
			margin-top: 52px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	&__block-1, &__block-2, &__block-3 {
		
		padding-top: 12px;
		padding-bottom: 13px;
		padding-left: 20px;
		padding-right: 20px;
		
		@media (min-width: @width-md) {
			padding-top: 24px;
			padding-bottom: 26px;
		}
	}
	
	@media (min-width: @width-md) {
		&__block-1 {
			padding-right: 45px;
			padding-left: 29px;
		}
		&__block-2 {
			padding-right: 54px;
			padding-left: 22px;
		}
		&__block-3 {
			padding-right: 44px;
			padding-left: 24px;
		}
	}
	
	&__partners {
		position: absolute;
		right: 76px;
		top: 22px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
	&__number {
		
		font-size: 200px;
		line-height: 200px;
		letter-spacing: -0.13em;

		color: #2577F4;
		display: block;
	}
	&__text {

		line-height: 25px;
		font-size: 14px;
		text-align: right;
		letter-spacing: 0.22em;
		text-transform: uppercase;

		color: #C2C7D1;
		display: block;
	}
}
.map {
    margin-top: 55px;
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	
	@media (min-width: @width-lg) {
		margin-top: 141px;
	}
	@media (min-width: @width-xl) {
		max-width: 1200px;
	}
	&__img {
		max-width: 100%;
		display: block;
	}
	&__block {
		position: absolute;
		text-align: center;
		transform: translateZ(0);
		
		&_usa {
			left: 8.7%;
			top: 12.9%;
			width: 70px;
		}
		&_europe {
			left: 40%;
			top: 5%;
			width: 60px;
		}
		&_rus {
			left: 59.3%;
			top: -9.6%;
			width: 70px;
		}
		&_asia {
			left: 71.6%;
			top: 22.8%;
			width: 110px;
		}
		@media (min-width: @width-lg) {
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 57px;
				height: 58px;
				transform: translateZ(0);

				background: url(../img/map-number-bg.svg) no-repeat;
			}
			&_usa {
				left: 10.7%;
				top: 22.9%;
				width: auto;
				&:before {
					left: 3px;
					top: -5px;
				}
			}
			&_europe {
				left: 42.4%;
				top: 13%;
				width: auto;
				&:before {
					left: 21px;
					top: 2px;
				}
			}
			&_rus {

				left: 61.8%;
				top: 5.4%;
				width: auto;
				&:before {
					left: 78px;
					top: 21px;
				}
			}
			&_asia {

				left: 77.6%;
				top: 27.8%;
				width: auto;
				&:before {
					left: 66px;
					top: 21px;
				}
			}
		}
	}
	&__number {

		font-weight: 300;
		line-height: normal;
		text-align: center;
		letter-spacing: -0.02em;
		transform: translateZ(0);

		color: #2577F4;
		font-size: 30px;
		@media (min-width: @width-lg) {
			font-size: 50px;
		}
	}
	&__text {
		
		line-height: normal;
		color: #0C2B59;
		margin-top: -6px;
		@media (min-width: @width-lg) {
			margin-top: 0;
		}
	}
}




/*
 *********************************
 * 02
 *********************************
*/

.section-tile {
//	opacity: .5;
	
	
    padding-top: 71px;
	@media (min-width: @width-lg) {
		padding-top: 133px;
	}
	> .container {
		position: relative;
	}
	&__text {
		
		line-height: 25px;
		font-size: 14px;
		text-align: right;
		letter-spacing: 0.22em;
		text-transform: uppercase;

		color: #C2C7D1;
		transform: rotate(90deg);
		position: absolute;
		right: 277px;
		top: -18px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
}
.tile {
	margin-top: 46px;
	@media (min-width: @width-lg) {
		margin-top: 72px;
	}
	&__item {
//		border: 1px solid gray;
		position: relative;
		&_hide {
			visibility: hidden;
			display: none;
			@media (min-width: @width-lg) {
				display: block;
			}
		}
	}
	&__title {
		
		font-weight: 600;
		letter-spacing: 0;
		margin-bottom: 12px;

		line-height: 23px;
		font-size: 14px;
		
		@media (min-width: @width-lg) {
			line-height: 33px;
			font-size: 20px;
		}
	}


	.tile-1 {
		background: #2F80ED url(../img/tile-1-bg.png) no-repeat center;
		background-size: 93% auto;
		padding: 24px 40px 20px 27px;
		color: white;
		height: 153px;
		&__val {

			font-weight: 900;
			line-height: normal;
			text-align: center;
			text-shadow: 0px 20px 30px rgba(6, 30, 61, 0.05);
			position: absolute;
			z-index: 1;
			letter-spacing: -0.02em;
			user-select: none;
	//			visibility: collapse;


			font-size: 80px;
			left: -7px;
			bottom: -40px;
		}

		@media (min-width: @width-md) {
			height: 230px;
		}
		@media (min-width: @width-xl) {
			height: 300px;
			padding: 50px 110px 20px 60px;
			&__val {
				font-size: 200px;
				left: -30px;
				bottom: -101px;
			}
		}
	}
	.tile-2 {
		background: #E9ECF2;
		text-align: center;

		padding: 23px 30px;
		height: 195px;
		&__text {
			margin-top: 4px;
		}
		&__block {
			position: absolute;
			right: 24px;
			bottom: 18px;
		}
		&__val {
			font-weight: 300;

			text-align: right;
			letter-spacing: -0.02em;
			color: #000000;
			
			font-size: 30px;
			line-height: 30px;
		}
		@media (min-width: @width-md) {
			height: 230px;
		}
		@media (min-width: @width-xl) {
			height: 300px;
			padding: 49px 40px;

			&__block {
				right: 31px;
				bottom: 23px;
			}
			&__text {
				margin-top: 9px;
			}
			&__val {
				font-size: 50px;
				line-height: 54px;
			}
		}
	}
	.tile-3 {
		border: 1px solid #DDE2ED;
		text-align: center;
		display: flex;
		flex-direction: column;
		background: #F5F7FA;
		height: 310px;
		.tile__title {
			margin-bottom: 5px;
		}
		&__top {
			flex: 0 0 50%;
			max-height: 50%;
			padding: 36px 10px 10px;
			position: relative;
			&:before {
				content: 'or';
				display: block;

				background: #F5F7FA;
				border: 1px solid #DDE2ED;
				border-radius: 50%;
				text-align: center;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 50%);
				
				
				padding: 12px 0;
				width: 51px;
				height: 51px;

			}
		}
		&__bottom {
			flex: 0 0 50%;
			max-height: 50%;
			padding: 38px 10px 10px;
			background: url(../img/tile-3-bg.svg) bottom no-repeat;
			background-size: cover;
		}
		&__val {

			font-weight: 300;
			line-height: normal;
			text-align: center;
			letter-spacing: -0.02em;

			color: #2577F4;
			
			font-size: 30px;
		}
		&__note {
			opacity: 0.5;
		}

		@media (min-width: @width-md) {
			height: 460px;
			&__top {
				padding: 80px 10px 30px;
				
				&:before {

					padding: 41px 0;
					width: 109px;
					height: 109px;
				}
			}
			&__bottom {
				padding: 95px 10px 30px;
			}
			
			&__val {
				font-size: 50px;
			}
		}
		@media (min-width: @width-lg) {
			margin-bottom: -230px;
		}
		@media (min-width: @width-xl) {
			height: 600px;
			margin-bottom: -300px;
		}
	}
	.tile-4 {

		background: #E9ECF2;
		border: 1px solid #DDE2ED;
		text-align: center;
		padding: 30px;
		height: 330px;

		&__text {
			margin-top: -6px;
		}
		&__val {

			font-weight: bold;
			line-height: normal;
			font-size: 50px;
			text-align: center;
			letter-spacing: -0.02em;

			color: #2577F4;
			margin-top: 8px;
		}
		&__note {

			margin-top: -11px;
		}
		&__btn {
			margin-top: 27px;
			width: 130px;
		}
		@media (min-width: @width-md) {
			
			padding: 47px 40px;
			height: 460px;
			&__text {
				margin-top: 46px;
			}
			
			&__val {
				font-weight: 900;
				font-size: 80px;
				margin-top: 48px;
			}
			&__btn {

				margin-top: 72px;
				width: 180px;
			}
		}
		@media (min-width: @width-lg) {
			margin-bottom: -230px;
		}
		@media (min-width: @width-xl) {
			height: 600px;
			margin-bottom: -300px;
		}
	}
	.tile-5 {

		background: #F5F7FA url(../img/map-bg.png) no-repeat right;
		border: 1px solid #E9ECF2;
		height: 310px;
		padding: 28px 50px 20px 29px;
	//		.tile__title {
	//			
	//		}
		@media (min-width: @width-md) {
			height: 460px;
		}
		@media (min-width: @width-lg) {
			height: 230px;
		}
		@media (min-width: @width-xl) {
			height: 300px;
			padding: 47px 110px 20px 59px;
		}
	}
	.tile-6 {
		background: #00439E url(../img/open-book.svg) no-repeat;
		background-position: 162px 45px;
		background-size: 94px;
		text-align: center;
		color: white;
		padding: 24px 28px;
		height: 153px;
		
		text-align: left;



		&__val {

			font-weight: bold;
			text-align: center;
			letter-spacing: -0.02em;

			color: #FFFFFF;
			text-shadow: 0px 20px 30px rgba(6, 30, 61, 0.05);

			position: absolute;
			z-index: 1;
			
			bottom: -20px;
			left: -7px;
			font-size: 80px;
			line-height: 80px;
		}

		@media (min-width: @width-md) {
			height: 230px;
			text-align: center;
			padding: 45px 39px;
		}
		@media (min-width: @width-xl) {
			height: 300px;
			background-size: 186px;
			background-position: 12px 95px;
			
			&__val {
				font-size: 130px;
				line-height: 130px;
				bottom: -41px;
				left: 58px;
			}
		}
	}
	.tile-7 {
		background: #2577F4;
		text-align: center;
		color: white;
		padding: 38px 40px;
		height: 257px;
		.tile__text {
			max-width: 300px;
			margin-left: auto;
			margin-right: auto;

	//		text-align: left; // ????????????????????????????????????????????????????
		}
		.btn {

			width: 130px;
			margin-top: 28px;
			> span {
				display: none;
			}
		}
		&__icon {

			margin-left: -31px;
			margin-right: 16px;
		}

		@media (min-width: @width-md) {
			height: 230px;
		}
		@media (min-width: @width-xl) {
			height: 300px;
			padding: 50px 10px;
			.btn {
				width: 226px;
				margin-top: 43px;
				> span {
					display: inline;
				}
			}
		}
	}


}



/*
 *********************************
 * 03
 *********************************
*/
.section-technologies {
	
    padding-top: 67px;
	@media (min-width: @width-lg) {
		padding-top: 187px;
	}
	> .container {
		position: relative;
	}
	&__bg-text {
		position: absolute;
		user-select: none;
		font-style: normal;
		font-weight: 600;
		white-space: nowrap;
		color: rgba(71, 97, 150, 0.03);
		
		
		line-height: 210px;
		font-size: 200px;
		left: -41px;
		top: 223px;
		@media (min-width: @width-lg) {
			line-height: 315px;
			font-size: 300px;
			left: 8px;
			top: 280px;
		}
	}
}
.technologies-slider {
	margin-top: 75px;
	@media (min-width: @width-lg) {
		margin-top: 82px;
	}
	&__item {
		outline: none;
		> *:last-child {
			.technologies-slider__text {
				margin-bottom: 0;
			}
		}
		@media (min-width: @width-lg) {
			height: 240px;
		}
	}
	&__title {
		font-weight: 600;
		letter-spacing: 0;
		color: #2577F4;
		margin-top: 0;
		margin-bottom: 5px;
		
		
		line-height: 23px;
		font-size: 14px;
		@media (min-width: @width-lg) {
			line-height: 33px;
			font-size: 20px;
			margin-bottom: 16px;
		}
		
	}
	&__text {
		margin-top: 0;
		
		margin-bottom: 42px;
		@media (min-width: @width-lg) {
			margin-bottom: 0;
			padding-right: 30px;
		}
	}
	&__subtitle {
		
	}
	
}





/*
 *********************************
 * 04
 *********************************
*/
.section-team {
	
    padding-top: 127px;
	@media (min-width: @width-lg) {
		padding-top: 77px;
	}
	> .container {
		position: relative;
	}
	&__text-left, &__text-right {
		font-style: normal;
		font-weight: normal;
		line-height: 25px;
		font-size: 14px;
		text-align: right;
		letter-spacing: 0.22em;
		text-transform: uppercase;

		color: #C2C7D1;
		position: absolute;
		
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
	&__text-left {
		transform: rotate(90deg);
		left: -51px;
		top: 62%;
	}
	&__text-right {
		transform: rotate(-90deg);
		right: -51px;
		top: 50%;
	}
}
.team-list {
	text-align: center;
    margin-top: 45px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
	
	@media (min-width: @width-lg) {
		margin-top: 83px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 44px;
		@media (min-width: @width-lg) {
			height: 350px;
			margin-bottom: 0;
		}
	}
	&__img {
		
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		background-color: #d3d3d3;
		background-size: contain;
		position: relative;
//		transform: translateZ(0);
		
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: url(../img/team-photo-bg.svg) no-repeat;
			background-size: contain;
			transform: translateZ(0);
			z-index: -1;
			border-radius: 50%;
			
			left: -15px;
			top: -15px;
		}
		@media (min-width: @width-lg) {
			width: 140px;
			height: 140px;
		}
		&-1 {
			&:before {
				left: -6px;
				top: -15px;
			}
		}
		&-2 {
			&:before {
				left: 12px;
				top: 5px;
			}
		}
		&-3 {
			&:before {
				left: 9px;
				top: 8px;
			}
		}
		&-4 {
			&:before {
				
				left: -17px;
				top: 4px;
			}
		}
		&-5 {
			&:before {

				left: 12px;
				top: -4px;
			}
		}
		&-6 {
			&:before {
				left: -8px;
				top: -7px;
			}
		}
	}
	&__name {
		
		font-weight: 600;
		margin-top: 22px;
		line-height: 23px;
		font-size: 14px;
		
		@media (min-width: @width-lg) {
			line-height: 33px;
			font-size: 20px;
			margin-top: 20px;
			
		}
	}
	&__occupation {
		
		margin-top: 2px;
		margin-bottom: 11px;
		@media (min-width: @width-lg) {
			margin-top: 1px;
			margin-bottom: 16px;
		}
	}
	&__note {
		font-size: 13px;
		opacity: .5;
		line-height: 23px;
		white-space: nowrap;
	}
}








/*
 *********************************
 * 05 - Works
 *********************************
*/
.section-works {
    padding-top: 46px;
	@media (min-width: @width-lg) {
		padding-top: 142px;
	}
	&__scroll {
		overflow-x: scroll;
	}
	&__slider {
//		transform: translateX(-2910px);
		
		
		
		padding-top: 41px;
		padding-bottom: 50px;
		display: flex;
//		width: 10000px;
//		padding-left: calc(~"50% - 600px");
//		padding-right: calc(~"50% - 600px");
		@media (min-width: @width-lg) {
			padding-top: 62px;
			padding-bottom: 50px;
			margin-bottom: 64px;
		}
	}
	&__btn {
		width: 130px;
		
		@media (min-width: @width-lg) {
			width: 140px;
		}
	}
	&__bottom {
		text-align: center;
		margin-top: 12px;
		
		@media (min-width: @width-lg) {
			margin-top: 55px;
		}
	}
}
.works-item {
	
	
//	height: 590px;
	background: white;
	box-shadow: 0px 20px 30px rgba(6, 30, 61, 0.05);
	border-radius: 5px;
	
	margin-right: 20px;
	width: 251px;
	flex: 0 0 251px;
	@media (min-width: @width-lg) {
		width: 900px;
		flex: 0 0 900px;
		margin-right: 70px;
	}
	&__logo {
		width: 15px;
		height: 18px;
		
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
	&__illustration {
		height: 140px;
		border-radius: 5px 5px 0 0;
		position: relative;
		
		@media (min-width: @width-lg) {
			height: 500px;
		}
	}
	&__bottom {
		padding: 9px 16px 7px 14px;
		display: flex;
		align-items: baseline;
		
		height: 40px;
		@media (min-width: @width-lg) {
			padding: 31px 54px 10px 51px;
			height: 90px;
		}
	}
	&__name {
		
		font-weight: 600;
		letter-spacing: 0;
		color: #262626;
		white-space: nowrap;
		
		
		line-height: 23px;
		font-size: 14px;
		@media (min-width: @width-lg) {
			margin-right: 16px;
			line-height: 33px;
			font-size: 20px;
		}
	}
	&__description {
		opacity: .5;
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
	&__date {
		margin-left: auto;
		text-align: right;
		white-space: nowrap;
	}
}
.works-scrollbar {
	
	background: #EFF2F6;
	border-radius: 4px;
	height: 8px;
	position: relative;
    margin-top: 55px;
	&__track {
		position: absolute;
		width: 450px;
		height: 100%;
		border-radius: 4px;
		background: #2577F4;
	}
}

.size (@w, @h) {
	display: block;
	position: absolute;
	user-select: none;
	
	height: @h/500 * 100%;
	width: @w/900 * 100%;
}
.work-1 {
	.works-item__illustration {
		background: #cc9860 url(../img/work-1-bg.png) no-repeat;
		background-size: 100% 100%;
	}
	&__phone {
		background: url(../img/work-1-phone.png) no-repeat;
		background-size: 100% 100%;
		margin: 0;
		.size(234, 469);
		left: 50%;
		transform: translateX(-50%);
		top: -33/500 * 100%;
		
		
		padding: 6% 1.7% 6.1%;
	}
	&__screen {
//		border: 1px solid red;
		height: 100%;
		width: 100%;
	}
}
.work-2 {
	.works-item__illustration {
		background-image:  url(../img/work-2-bg.png), linear-gradient(180deg, #FE4000 0%, #FE7900 100%);
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__phone {
		background: url(../img/work-2-phone.png) no-repeat;
		background-size: 100% 100%;
		margin: 0;
		.size(568/2, 1002/2);
		left: 50%;
		transform: translateX(-50%);
		top: -64/500 * 100%;
		
		
		padding: 6.2% 4.6% 9.7%;
	}
	&__screen {
//		border: 1px solid red;
		height: 100%;
		width: 100%;
	}
}
.work-3 {
	.works-item__illustration {
		background: white url(../img/work-3-bg.png) no-repeat;
		background-size: cover;
	}
	&__figure {
//		background: url(../img/work-3-figure.png) no-repeat;
//		background-size: 100% 100%;
//		margin: 0;
		
		.size(772, 604);
		
		top: (-45-11)/500 * 100%;
		right: (-41-37)/900 * 100%;
		
		
	}
}
.work-4 {
	.works-item__illustration {
		background: white url(../img/work-4-bg.png) no-repeat;
		background-size: cover;
	}
	&__laptop {
		
		.size(1166/2, 702/2);
		right: -98/900 * 100%;
		top: 106/500 * 100%;
	}
	&__page {
		
		.size(396/2, 966/2);
		left: 247/900 * 100%;
		top: -63/500 * 100%;
	}
	&__phone {
		
		.size(386/2, 798/2);
		left: 69/900 * 100%;
		top: 116/500 * 100%;
	}
}
.work-5 {
	.works-item__illustration {
		background: white url(../img/work-5-bg.jpg) no-repeat;
		background-size: cover;
	}
	&__page {
		
		.size(926/2, 624/2);
		left: 56/900 * 100%;
		top: -50/500 * 100%;
	}
	&__phone {
		
		.size(384/2, 660/2);
		top: -26/500 * 100%;
		right: 81/900 * 100%;
	}
}

.work-6 {
	.works-item__illustration {
		background: white url(../img/work-6-bg.png) no-repeat;
		background-size: cover;
	}
	&__mac {
		
		.size(705*0.75, 646*0.75);
		right: -37/900 * 100%;
		top: -45/500 * 100%;
	}
}











/*
 *********************************
 * 06
 *********************************
*/
.section-form {
	
    padding-top: 69px;
	@media (min-width: @width-lg) {
		padding-top: 131px;
	}
	&__title {
		
		font-weight: 600;
		line-height: 33px;
		font-size: 20px;
		letter-spacing: 0;
		margin-top: 0;
		margin-bottom: 43px;
		
		display: none;
		@media (min-width: @width-lg) {
			display: block;
		}
	}
	&__form {
		margin-top: 41px;
		@media (min-width: @width-lg) {
			margin-top: 93px;
		}
	}
	&__form-container {
		position: relative;
	}
	&__checkbox-block {
		.slick-dots {
			bottom: -1px;
		}
	}
}
.form-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	&__icon {
		width: 130px;
		height: 130px;
		transform: translateX(10px);
	}
	&__title {
		font-weight: 600;
		line-height: 33px;
		font-size: 20px;
		margin-bottom: 17px;
		margin-top: 35px;
	}
	&__text  {
		
	}
}
.checkbox-container {
	margin-bottom:60px;
	@media (min-width: @width-lg) {
		margin-bottom: 33px;
	}
	
	&__title {

		font-weight: 500;
		line-height: 27px;
		font-size: 15px;
		letter-spacing: 0.02em;

		color: #262626;
		margin-top: 0;
		margin-bottom: 7px;
		
		text-align: center;
		@media (min-width: @width-lg) {
			text-align: left;
		}
	}
	&__list {
		display: flex;
	}
	&__left {
		flex: 0 0 133px;
		max-width: 133px;
	}
}
.input-container {
    margin-top: 46px;
	@media (min-width: @width-lg) {
		margin-top: 0;	
	}
	&__title {
		text-align: center;
		font-weight: 600;
		line-height: 23px;
		font-size: 14px;
		@media (min-width: @width-lg) {
			font-weight: 600;
			line-height: 33px;
			font-size: 20px;
		}
	}
	&__group {

		position: relative;
		margin-bottom: 17px;
		@media (min-width: @width-lg) {
			margin-bottom: 13px;
		}
	}
	&__label {
		
		line-height: 23px;
		font-size: 13px;
		letter-spacing: 0.02em;

		color: #262626;
		opacity: 0.5;
		
		
		position: absolute;
		left: 30px;
		bottom: 21px;
		transition: all .2s ease-in-out;
		&_textarea {
			top: 5px;
			bottom: auto;
//			height: 132px;
		}
		&.active {
			bottom: 40px;
			font-size: 10px;
		}
	}
	&__input {
		font-family: 'Poppins', sans-serif;
		display: block;
		width: 100%;
		background: none;
		outline: none;
		border: 0;
		border-bottom: 1px solid #DDE2ED;
		padding-left: 30px;
		padding-bottom: 20px;
		padding-top: 12px;
		padding-right: 20px;

		line-height: 23px;
		font-size: 13px;
		letter-spacing: 0.02em;
		&.success {
			color: #2577F4;
			border-color: #2577F4;
		}
		&.error {
			color: #EB5757;
			border-color: #EB5757;
		}
		&_textarea {
			height: 120px;
			padding-left: 30px!important;
			padding-top: 26px;
			max-width: 100%;
		}
		@media (min-width: @width-lg) {
			padding-left: 110px;
		}
	}
	&__file {
		display: flex;
		flex-wrap: nowrap;
		flex: 0 0 auto;
		justify-content: space-between;
		margin-bottom: 63px;
		@media (min-width: @width-lg) {
			margin-bottom: 0;
		}
	}
	&__bottom {
		display: flex;
		margin-top: 46px;
		
		flex-direction: column;
		
		@media (min-width: @width-lg) {
			margin-top: 31px;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__btn-submit {
		margin-left: auto;
		width: 140px;
	}
	
	@media (min-width: @width-lg) {
		&__btn-1 {
			width: 160px;
			margin-right: 10px;
			.file-upload__note {

				left: 35px;
			}
		}
		&__btn-2 {
			width: 200px;
		}
	}
}
.file-upload {
	position: relative;
	&__input {
		position: absolute;
		top: 0;
		visibility: hidden
	}
	&__btn {
		
		font-family: 'Poppins', sans-serif;
		width: 100%;
		background: none;
		border: 0;
		padding: 0;
		
		font-weight: 600;
		line-height: 27px;
		font-size: 15px;
		letter-spacing: 0.02em;
		position: relative;
		height: auto;
		outline: none;
		&:before {
			content: '';
			position: absolute;
			height: 1px;
			width: 100%;
			background: black;
			opacity: .3;
			left: 0;
			bottom: 4px;
		}
		@media (min-width: @width-lg) {
			width: 100%;
			height: 60px;
			border-radius: 30px;
			background: #F5F7FA;
			border: 1px solid rgba(37, 119, 244, 0.5);
			&:hover {
				background: rgba(37, 119, 244, 0.2);
	//			color: white
				border-color: transparent;
			}
			&:before {
				display: none;
			}
		}
	}
	&__note {
		position: absolute;
		bottom: -24px;
		line-height: 23px;
		font-size: 13px;
		
		left: 0;
		&.error {
			color: #EB5757;
		}
		&.success {
			color: #2577F4;
		}
		
		@media (min-width: @width-lg) {
			bottom: -28px;
			left: 23px;
		}
	}
}









/*
 *********************************
 * Footer
 *********************************
*/
.footer {
	padding-top: 100px;
	padding-bottom: 50px;
	@media (min-width: @width-lg) {
		padding-top: 196px;
		padding-bottom: 61px;
	}
	&__email {
		
		font-weight: 600;
		letter-spacing: 0;

		color: #2577F4;
		
		
		
		line-height: 23px;
		font-size: 14px;
		@media (min-width: @width-lg) {
			line-height: 33px;
			font-size: 20px;
		}
	}
	&__description {
		font-weight: 600;
		line-height: 20px;
		font-size: 11px;
		letter-spacing: 0.13em;
		text-transform: uppercase;
		opacity: .5;
		
		
		margin-top: 60px;
		@media (min-width: @width-lg) {
			margin-top: 0;
		}
	}
	&__row {
		margin-top: 31px;
		@media (min-width: @width-lg) {
			margin-top: 22px;
			
		}
	}
	&__col {
		display: flex;
	}
	&__col-left {
		width: 60px;
		padding-top: 9px;
		> img {
			width: 40px;
		}
	}
	&__col-right {
		
	}
	&__title {
		font-weight: 600;
		letter-spacing: 0.02em;
		margin-bottom: 0;

		margin-top: 5px;
		line-height: 25px;
		font-size: 14px;
		@media (min-width: @width-lg) {

			line-height: 27px;
			font-size: 15px;
			margin-top: 3px;
		}
	}
	&__text {
		margin-bottom: 0;
		margin-top: 0;
		line-height: 23px;
		font-size: 13px;
	}
	&__copyright {
		text-align: center;
		margin-top: 90px;
		@media (min-width: @width-lg) {
			margin-top: 142px;
		}
	}
}
.head-col {
	display: flex;
	padding-top: 12px;
    margin-bottom: -16px;
	
	@media (min-width: @width-lg) {
		margin-bottom: 0;
	}
	&__photo {
		width: 82px;
		height: 82px;
		display: inline-block;
		background-color: #b7b7b7;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border-radius: 50%;
	}
	&__left {
		width: 102px;
	}
	&__title {
		font-weight: 600;
		letter-spacing: 0.02em;
		margin-bottom: 0;
		
		
		line-height: 25px;
		font-size: 14px;
		margin-top: 14px;
		@media (min-width: @width-lg) {
			line-height: 27px;
			font-size: 15px;
			margin-top: 11px;
		}
	}
	&__text {
		margin-bottom: 0;
		margin-top: 0;
		line-height: 23px;
		font-size: 13px;
	}
}
